<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kpu.myweb.mapper.youtuberMapper">
  
 	<select id="getTime" resultType="string">
 		select now()
 	</select>
 	
     <insert id="insert"> 
   		insert into youtuber_auth (id, name, image, category) values
 		(#{id}, #{name}, #{image}, #{category})
     </insert> 
 	
     <select id="selectByid" resultType="YoutuberVO">
 		select * from youtuber_auth where id = #{id}
     </select>
 	
     <select id="selectAll" resultType="org.kpu.myweb.domain.YoutuberVO">
     <![CDATA[
 		select * from youtuber_auth
      ]]> 
     </select>
 	
     <update id="update">
	 	update youtuber_auth set name=#{name},image=#{image},category=#{category} 
		 where id=#{id}
    </update>
 
    <delete id="delete">
		delete from youtuber_auth where id = #{id}
    </delete>

	
</mapper>  